.root_compo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Posts {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.blink {
  padding-left: 40vw;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#photoButton {
  background: transparent;
  border: none !important;
  font-size: 50px;
}
  