.navbar {
    min-width: 100vW;
    position: fixed;
    top: 0px;
}

.navbar-brand {
    padding-left: 20vw;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.container-fluid {
    padding-top: 3vw;
    border-bottom: 1px solid black;
}